<footer class="footer bg-black py-3 mt-auto" style="background-color: black;">
    <div class="container text-center" >
        <span style="font-weight: bolder;color: #f3ca20" class="">&copy; RescueCamp 2021</span>
    </div>
</footer> 