<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/camp_dashboard.css">
    <!-- <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script> -->
    <script src="js/dashboard.js" defer></script>
</head>

<body class="bg-gray-100">

    <nav  class="px-5 shadow sticky top-0 z-50" style="background-color: #004e64; border-bottom:1px solid white;">
        <h3 style="padding: 10px;" class="text-center font-oswald text-xl sm:text-2xl px-2">Disaster Relief Organization Dashboard</h3>
    </nav>

    <nav class="px-5 shadow sticky top-0 z-50" style="background-color: #004e64;">
        <div class="flex justify-between items-center">
          <!--Logo-->
          <span class="text-xl font-oswald cursor-pointer text-white my-4">
            <a href="index.html">RE<f style="color: #9fffcb;">LIE</f>F CAMP</a>
          </span>
          

            <button title="login to see your booked camp"
            class="md:text-sm lg:text-base border border-solid border-white text-white font-oswald duration-500 px-4 py-1 sm:mx-4 my-3 rounded-lg">
            <a href="/openNGOD">Camp Request</a>
          </button>

            <button style="background-color: white; color:#004E64;" title="login to see your booked camp"
            class="md:text-sm lg:text-base border border-solid border-white text-white font-oswald duration-500 px-4 py-1 sm:mx-4 my-3 rounded-lg">
            <a href="/active_camps">Active Camps</a>
          </button>
          <button title="login to see your booked camp"
          class="md:text-sm lg:text-base border border-solid border-white text-white font-oswald duration-500 px-4 py-1 sm:mx-4 my-3 rounded-lg">
          <a href="/requirements">Requirements</a>
        </button>
        <button title="login to see your booked camp"
        class="md:text-sm lg:text-base border border-solid border-white text-white font-oswald duration-500 px-4 py-1 sm:mx-4 my-3 rounded-lg">
        <a href="/alert_people">Peoples in need</a>
      </button>


          <!--home icon-->
                <div class="flex items-center justify-between">
                    <div class="relative">
                        <button class="flex mx-4 text-white focus:outline-none">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                              </svg>
                        </button>
                    </div>

                    <div x-data="{ dropdownOpen: false }" class="relative">
                        <button @click="dropdownOpen = ! dropdownOpen"
                            class="relative block h-7 w-7 rounded-full overflow-hidden shadow focus:outline-none">
                            <img class="h-full w-full object-cover"
                                src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg"
                                alt="Your avatar">
                        </button>

                        <div x-show="dropdownOpen" @click="dropdownOpen = false"
                            class="fixed inset-0 h-full w-full z-10" style="display: none;"></div>

                        <div x-show="dropdownOpen"
                            class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
                            style="display: none;">
                            <p class="px-4 py-2 font-montserrat font-medium text-base text-gray-900">User Name</p>
                            <div class="bg-gray-500" style="padding: 0.5px 0px;"></div>
                            <a  href="/logout"
                                class="block px-4 py-2 font-montserrat text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <h3 style="padding: 10px; font-size: 30px;" class=" text-center font-oswald text-xl sm:text-2xl px-2">Active camps</h3>

<% for(let camp of campgrounds){ %>         

    <div id="active_div" class="">
        <div class="flex flex-col mb-14">
            <div class="py-4 px-4 overflow-x-auto">
                <div class="table-container align-middle max-h-screen overflow-y-auto inline-block min-w-full shadow sm:rounded-lg border-b border-gray-200" style="scrollbar-width: thin;">
                    <table class="min-w-full">
                        <thead class="sticky top-0 z-10 font-oswald">
                            <tr class="">
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Camp</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Capacity</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Date</th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Status</th>
                                <!-- <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Action</th> -->
                            </tr>
                        </thead>

                        <tbody class="font-montserrat">
                            <tr class="">
                                <td class="p-4 whitespace-no-wrap border-b border-gray-200">
                                 <div class="ml-2">
                                            <div class="text-sm leading-5 font-medium text-gray-900"><%= camp.title %> 
                                            </div>
                                            <div class="text-sm leading-5 text-gray-500"><%= camp.location %></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900"><%= camp.price %> </div>
                                </td>
                                 <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                    <div class="text-sm leading-5 text-gray-900"><%= camp.date %></div>
                                </td>

                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                                   <span class="px-2 py-1.5 font-montserrat text-sm font-semibold leading-tight text-blue-700 bg-blue-100 rounded-full">Active</span>
                                </td>

                                <!-- <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
                                    <button class="bg-red-500 text-white px-4 py-2 font-montserrat rounded">Remove</button>
                                </td> -->
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="px-4 py-3 bg-gray-50 sticky bottom-0 z-10">
                    <!-- <span class="flex text-gray-600 items-center text-sm font-montserrat font-semibold col-span-3"> Total : <p id="total_arrived" class="font-montserrat font-semibold text-gray-500">100</p></span>                                                                       -->
                </div>
                </div> 
            </div>
    </div></div>
<% } %> 

    </body>
</html>